llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-gemini
llama-index-embeddings-huggingface
qdrant-client
python-dotenv
pypdf
PyMuPDF
camelot-py[cv]
streamlit
huggingface_hub
pyngrok
